* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "WikiWorld";
  src: url('../assets/font/LinLibertine_R.ttf') format('opentype');
  font-weight: normal;

}

@font-face {
  font-family: "SubTitles";
  src: url('../assets/font/Georgia.ttf') format('opentype');
  font-weight: normal;

}


:root {
    --font-logo:"WikiWorld";
    --font-subtitles: "SubTitles";
    --font-paragraph: 'Arial', sans-serif;

    --color-border: #a2a9b1;
    --color-white: #fff;
    --color-black: #000;
    --color-base: #202122;
    --color-base-fixed: #202122;
    --color-base--hover: #404244;
    --color-emphasized: #101418;
    --color-subtle: #54595d;
    --color-placeholder: #72777d;
    --color-progressive: #3366cc;
    --color-orange: #ff5d01;
    --background: #eaecf0;
    --color-red: #EB0000;
    

}


html {
    scrollbar-width: none;
}


@media screen and (min-width: 73.75rem) {

    html {
        scrollbar-width: auto;
    }
    body > main {
        max-width: 73.75rem;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

    }

}


h1 {
    font-family: var(--font-logo);
}

h2 {
    font-family: var(--font-subtitles);
}

p {
    font-family: var(--font-paragraph);
}


ul { list-style: none; padding-left: 5px; }
a { color:var(--color-progressive); text-decoration: none;}